*{
  margin: 0;
  padding: 0;
}

/*
#logo{
  opacity: 1;
  width: 50%;
  height: auto;
}
*/

body{
  margin: 0;
  font-family: 'Alice', serif;
  font-size: 17px;
  line-height: 1.6;
}

#showcase{
  background-image: url('../img/landingpage-showcase.jpeg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: .9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase .logo-container {
    padding: 20px;
    width: auto;
    height: auto;
}

#showcase .button-container {
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
}

#showcase img {
  opacity: 1;
  width: 50%;
  height: auto;
}

#showcase h1{
  font-size: 50px;
  line-height: 1.2;
  color: #B4252D;
  text-align: center;
  text-shadow: 8px 16px 32px rgba(0,0,0,0.4),
                 8px 16px 32px rgba(0,0,0,4),
                 8px 16px 46px rgba(0,0,0,4);
}

#showcase p{
  font-size: 20px;
  font-weight: 800;
  opacity: 1;
  color: #631419;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: black;
  /*border: #B4252D 1px solid;*/
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  background: #785035;
}

#showcase .button:hover {
  background: #572F23;
  color: #fff;
}

#section-a {
  padding: 20px;
  background: #572F23;
  color: #fff;
  text-align: center;
}
#section-b {
  padding: 20px;
  background: #8C5E3E;
  color: black;
  text-align: center;
}
#section-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #572F23;
  color: white;
}

#section-c ul {
    list-style: none;
}
#section-c div {
    padding: 5px;
    width: 12.5%;
    height: auto;
}

#instagram-logo {
    max-width: 45%;
    max-height: 45%;
}

#facebook-logo {
    max-width: 45%;
    max-height: 45%;
}

.social-media {
    display: block;
    margin: auto;
    width: 50%;
}
