/*
*{
  margin: 0;
  padding: 0;
}
*/

/*
#logo{
  opacity: 1;
  width: 50%;
  height: auto;
}
*/

body{
    margin: 0;
    font-family: 'Alice', serif;
    font-size: 17px;
    line-height: 1.6;
    padding-top: 50px;
}

h1{
    margin: 10px;
}

/*social media buttons at very bottom*/
ul {
    overflow: auto;
}

/*social media buttons at very bottom*/
ul li {
    list-style-type: none;
    float: left;
}

/*social media buttons at very bottom*/
ul li a i {
	background: none;
	color: black;
	width: 30px;
	height: 30px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

/*social media buttons at very bottom*/
ul li a i:hover {
	opacity: .7;
}

#showcase{
  background-image: url('../img/alex-jones-2394-sm.jpg');
  height: 38vh;
  background-size: cover;
  background-position: center;
  opacity: .9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 0px;
}

#logo {
    opacity: 1;
    width: 80vw;
    min-width: 200px;
    margin: 20px;
}

#showcase h1{
/*
    font-size: 6vw;
    line-height: 1.2;
*/
    font-weight: bold;
    margin: 0 10px;
    color: #B4252D;
    text-shadow: 4px 8px 16px rgba(0,0,0,0.4),
                 4px 8px 16px rgba(0,0,0,4),
                 4px 8px 16px rgba(0,0,0,4);
}

#nav .button {
    font-size: 3vh;
    text-decoration: none;
    color: black;
    border: black 1px solid;
    padding: 2px;
    border-radius: 2px;
    margin: 5px;
    background: #785035;
    transition: all 0.2s ease-in-out;
    width: 152px;
    height: 34px;
}

#nav .button:hover {
  background: #572F23;
  color: #fff;
}

#showcase img {
    max-width: 700px;
    max-height: 583px;
}

#h1-and-social {
    float: left;
}

#section-a {
  padding: 20px;
  background: #ffd2b3;
  color: black;
  text-align: center;
}

#section-a h1{
    padding-top: 50px;
}

#section-a p {
    padding: 8px;
    line-height: 1.2;
}

#h1-and-social h1 {
    margin: 0 10px;
}
#section-b {
  padding: 20px;
  background: #FFEBDD;
  color: black;
  text-align: center;
}

#section-b h1 {
    margin: 0 0 0 0;
    padding-top: 50px;
    line-height: 1;
}

#section-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFEBDD;
    color: black;
}

#section-c h1{
    padding-top: 50px;
}

#section-d{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffd2b3;
    margin: 0;
    padding: 0;
}

#section-d h1{
    padding-top: 50px;
}

#section-e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFEBDD;
    color: black;
    padding: 2%;
}

#section-e h1{
    padding-top: 50px;
}

#section-z {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffd2b3;
    color: black;
    padding: 2%;
}

#section-z ul {
    list-style: none;

}

#instagram-logo {
    max-width: 45%;
    max-height: 45%;
}

#facebook-logo {
    max-width: 45%;
    max-height: 45%;
}

.social-media {
    display: block;
    margin: auto;
    width: 50%;
}

#instagram-embed {
    margin: 20px auto;
    max-width: 700px;
}

.fb-like {
    padding: 10px;
}

#menu {
    width: 65%;
    height: 65%;
    padding: 1%;
    transition: all 0.2s ease-in-out;
}

#menu:hover {
    opacity: 0.8;
}

.go-back {
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.go-back:hover {
    color: darkred;
}

#feedback{
    margin: 5px;
}

#feedback:hover{
    opacity: .8;
}

#navbar-logo{
    width: 40px;
    height: auto;
    padding-bottom: 4px ;
}

.navbar-brand{
    padding: 10px 15px;
}

#map{
    width: 60vw;
    height: auto
}